<html>
<head>
<style>
.buttonone{

  position: relative;
  border: 3px solid black;
  left: 45%;
  top: 40%;
  border-radius: 15px;
  width: 10%;
  background-image: linear-gradient(grey,white);
  border: 2px solid black ;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;

}

body { 
	
 background-image: linear-gradient(grey,white);
	

}

	
</style>
</head>

	<body>
		<button type="button" onclick=window.location.href="http://localhost:5003" class="buttonone">Use Your Model</button>
        </body>

</html>






